.tasks {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 0;

  &__header {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 10px 0;
  }
}

.tasks-board {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 8px;
  min-width: 0;

  -webkit-overflow-scrolling: touch;
  justify-content: space-between;

  app-task-column {
    flex: 0 0 280px;
    max-width: 280px;
  }
}
