<div>
  <form class="register" [formGroup]="form" (ngSubmit)="submit()">
    <h1>create account</h1>

    <label>
      Имя
      <input type="text" formControlName="name" />
      <span *ngIf="form.controls.name.touched && form.controls.name.invalid">
        minimum 2 symbol
      </span>
    </label>

    <label>
      Email
      <input type="email" formControlName="email" />
      <span *ngIf="form.controls.email.touched && form.controls.email.invalid">
        incorrect email
      </span>
    </label>

    <label>
      password
      <input type="password" formControlName="password" />
      <span
        *ngIf="form.controls.password.touched && form.controls.password.invalid"
      >
        minimum 6 symbol
      </span>
    </label>

    <button type="submit">register</button>
  </form>
  <a routerLink="/login">or do you want to login?</a>
</div>
