<div>
  <form class="register" [formGroup]="form" (ngSubmit)="submit()">
    <h1>create account</h1>

    <label>
      Имя
      <input type="text" formControlName="name" />

      @if (form.controls.name.touched && form.controls.name.invalid) {
      <span class="error">Minimum 2 symbols</span>
      }
    </label>

    <label>
      Email
      <input type="email" formControlName="email" />

      @if (form.controls.email.touched && form.controls.email.invalid) {
      <span class="error">incorrect email</span>
      }
    </label>

    <label>
      password
      <input type="password" formControlName="password" />

      @if (form.controls.name.touched && form.controls.name.invalid) {
      <span class="error">minimum 6 symbol</span>
      }
    </label>

    <button type="submit">register</button>

    @if (error$ | async;) {
    <p>{{ error$ }}</p>
    }
  </form>
  <a routerLink="/login">or do you want to login?</a>
</div>
