.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgb(162, 162, 162);
  padding: 0 10%;
  &__logo {
    display: block;
    position: relative;
    height: 50px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
