:root {
  --color-bg: #bbbbbb;
  --color-bg-soft: #f3f4f6;

  --color-primary: #727272;
  --color-primary-hover: #81838a;

  --color-danger: #dc2626;

  --color-text: #111827;
  --color-text-muted: #6b7280;

  --radius-sm: 6px;
  --radius-md: 8px;
}
