<div class="user-data">
  <!-- eslint-disable-next-line @angular-eslint/template/prefer-control-flow -->
  <ng-container *ngIf="user$ | async as user">
    <p class="user-data__name">{{ user.name }}</p>
    <p class="user-data__email">{{ user.email }}</p>
  </ng-container>
  <!-- eslint-disable-next-line @angular-eslint/template/prefer-control-flow -->
  <ng-container *ngIf="user$ | async as user">
    <button class="btn btn--outline" (click)="openDialog(user)">
      change information
    </button>
  </ng-container>
</div>
