<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="backdrop" (click)="onBackdrop()">
  // eslint-disable-next-line
  @angular-eslint/template/click-events-have-key-events //
  eslint-disable-next-line
  @angular-eslint/template/click-events-have-key-events,
  @angular-eslint/template/click-events-have-key-events
  <div class="modal" [style.width]="width" (click)="$event.stopPropagation()">
    <ng-template #container></ng-template>
  </div>
</div>
