<div class="auth">
  <form class="auth__form" [formGroup]="form" (ngSubmit)="login()">
    <label class="form-field">
      Email
      <input type="email" formControlName="email" class="form-field__input" />
      @if (form.controls.email.touched && form.controls.email.invalid) {
      <span class="form-field__error">incorrect email</span>
      }
    </label>

    <label class="form-field">
      Password
      <input
        type="password"
        formControlName="password"
        class="form-field__input"
      />
      @if (form.controls.password.touched && form.controls.password.invalid) {
      <span class="form-field__error">minimum 6 symbol</span>
      }
    </label>

    <button class="form-submit" type="submit">login</button>

    @if (error$ | async;) {
    <p class="form-error">{{ error$ }}</p>
    }
  </form>
  <p class="auth__link">
    Don't have an account yet?
    <a routerLink="/registration">register oneself</a>
  </p>
</div>
