<div>
  <form class="register" [formGroup]="form" (ngSubmit)="submit()">
    <label>
      Email
      <input type="email" formControlName="email" />

      @if (form.controls.email.touched && form.controls.email.invalid) {
      <span class="error">incorrect email</span>
      }
    </label>

    <label>
      password
      <input type="password" formControlName="password" />

      @if (form.controls.password.touched && form.controls.password.invalid) {
      <span class="error">minimum 6 symbol</span>
      }
    </label>

    <button type="submit">login</button>

    @if (error$ | async;) {
    <p>{{ error$ }}</p>
    }
  </form>
  <a routerLink="/registration">registration</a>
</div>
